{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}



<div class="container">
    <div class="login-form qa-primary-login-form sheet--padding">
      <div class="header">
  
  
        <div class="header__text-group text-center">
  
          <p class="header__subheading"><img src="{% static 'site/icon.png' %}" width="150" height="150"></p>
          <h1 class="header__heading">Password Change </h1>
          <p>You will need your old password, its mandatory</p>
        </div> <!-- close .text-group -->
      </div> <!-- close .header -->
  
      <div class="row">
          <div class="form-separator">
              
            </div>
  
  
  
        {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="text-muted text-center mb-5">The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
        {% else %}
            {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                <form  method="POST" id="signup_form" action="{{ action_url }}">{% csrf_token %}

                    <div class="form-group">
  
                        <input class="form-control" autofocus="autofocus" autocomplete="off" tabindex="2" type="password" name="password1"
                          placeholder="New Password" style="border: 0;
                    outline: 0;
                    background: transparent;
                    border-bottom: 1px solid black;" />
                      </div> <!-- close .form-group -->


                        <div class="form-group">
  
            <input class="form-control" autofocus="autofocus" autocomplete="off" tabindex="2" type="password" name="password2"
              placeholder="Confirm New Password" style="border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid black;" />
          </div> <!-- close .form-group -->


          <div class="form-group">
              <button class="btn btn-default btn-block-level" style="background-color: #8DC7B8" tabindex="3">
                Change Password
              </button>
    
    
            </div> <!-- close .form-group -->



                      </form>
            </form>
            {% else %}
            <p class="text-muted text-center mb-5">Your password is now changed.</p>
            {% endif %}
        {% endif %}
      
  
      </div> <!-- close .col -->
    </div> <!-- close .row -->
  </div> <!-- close .login-form -->
  </div> <!-- close .container -->
  






{% endblock %}
