{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<main class="auth">
  <header id="auth-header" class="auth-header" style="background-image: url(assets/images/illustration/img-1.png);">
    <h1>
      e<span>Farming</span>
      <span class="sr-only">Change Password</span>
    </h1>
    </p>
  </header><!-- form -->
  <form class="auth-form" action="{% url 'account_change_password' %}" method="POST">{% csrf_token %}
    <!-- .form-group -->
    <div class="form-group">
      <div class="form-label-group">
        <input type="password" name="oldpassword" class="form-control" placeholder="Current Password" autofocus=""> <label for="inputUser">Current Password</label>
      </div>
    </div><!-- /.form-group -->
    <!-- .form-group -->
    <div class="form-group">
      <div class="form-label-group">
        <input type="password" name="password1" class="form-control" placeholder="New Password"> <label for="inputPassword">New Password</label>
      </div>
    </div><!-- /.form-group -->
    <!-- .form-group -->
    <div class="form-group">
      <div class="form-label-group">
        <input type="password" name="password2" class="form-control" placeholder="Confirm New Password"> <label for="inputPassword">Confirm New Password</label>
      </div>
    </div><!-- /.form-group -->
    <!-- .form-group -->
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Update Password</button>
    </div><!-- /.form-group -->
  </form><!-- /.auth-form -->
  <!-- copyright -->
  <footer class="auth-footer"> © 2020 All Rights Reserved. <a href="#">Privacy</a> and <a href="#">Terms</a>
  </footer>
</main><!-- /.auth -->
{% endblock %}
